PORT=3018
WALLET_PROVIDER=dhiway
DHIWAY_API_BASE=dhiway-api-base
DHIWAY_API_KEY=dhiway-api-key
BENEFICIARY_BACKEND_URI=beneficiary-backend-uri

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=wallet_db

# Environment
NODE_ENV=development

ALLOWED_ORIGINS=http://localhost:0987,http://localhost:0000